.dropdown {
  width: 100vw;
  top: var(--nav-height);
  right: 0;
  transform: scaleX(0%);
  padding: 2rem;
  position: absolute;
  display: flex;
  /* flex-direction: column; */
  gap: 1.5rem;
  list-style-type: none;
  background-color: #fff;
  transition: transform 300ms ease-in-out;
  transform-origin: right;
}

.dropdown > * {
  cursor: pointer;
}

.toggled .dropdown {
  transform: scaleX(100%);
}

.desktop {
  transform: scaleX(100%);
  width: 100%;
  padding: 0 2rem;
  position: static;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  list-style-type: none;
  background-color: transparent;
  transition: transform 300ms ease-in-out;
  transform-origin: right;
}