.about svg:hover {
  transform: translateY(-2px) scale(1.07);
}

.about .tech-stacks > * + * {
  margin-left: 0.3rem;
}

@media screen and (min-width: 701px) {
  .about .hero__desc__item {
    margin-left: 0;
  }
}