.btn__outline {
  background-color: transparent;
  border: var(--txt-clr-default) 2px solid;
}

.btn--large {
  width: max-content;
  text-align: center;
  line-height: 1.1;
  font-size: 1.5rem;
  margin: 1.5rem 0;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
}

.btn__center {
  margin: 1.5rem auto;
}


@media screen and (min-width: 750px) {
  .btn--large {
    margin: 1.5rem 0;
  }

}
