.hero {
  height: var(--section-height);
  margin-bottom: 2rem;
  text-align: center;
}

.hero > .container {
  height: 100%;
}

.hero__content {
  position: relative;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 3fr 3fr;
  row-gap: 1rem;
  justify-items: center;
  align-items: center;
}

.hero__profile {
  border-radius: 50%;
  width: 60%;
  background-color: azure;
  transform: translate(10px, 10px);
  transition: 300ms ease-in-out;
}

.hero__profile:hover {
  transform: translate(10px, 5px);
  background-color: var(--acc-clr__primary);
}

.hero__profile__pic {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-10px, -10px);
  top: 0;
  right: 0;
  left: 0;
}

.hero__desc--end {
  align-self: center;
}

.hero__desc__name {
  white-space: nowrap;
  display: block;
}

.hero .txt--primary {
  display: block;
  margin: auto;
  width: 8ch;
}

.hero__desc__item {
  display: block;
}

.alert {
  position: absolute;
  white-space: nowrap;
  border: 1px solid var(--acc-clr__secondary);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  color: var(--acc-clr__secondary);
  transition: 200ms;
  transform: translateY(3px);
}

.disappear {
  animation: hideElement 500ms ease-in-out 1000ms;
  animation-fill-mode: forwards;
}

@keyframes hideElement {
  from {
    visibility: initial;
    opacity: 1;
    transform: translateY(0);
  }
  to {
    visibility: hidden;
    opacity: 0;
    transform: translateY(30px);
  }
}

@media screen and (min-width: 701px) {
  .hero {
    height: var(--section-height);
    padding: 2rem 0;
    margin-bottom: 2rem;
    text-align: left;
  }

  .hero__content {
    grid-template-rows: 1fr 2fr 2fr 1fr 1fr;
    grid-template-columns: 3fr 8% 2fr;
  }

  .hero__profile {
    grid-column: 1;
    grid-row: 1 / 5;
    margin: 1.5rem 0;
    border-radius: 50%;
    width: 100%;
    max-width: 450px;
  }

  .hero__profile__pic {
    border-radius: 50%;
    top: 0;
    right: 0;
    left: 0;
  }

  .hero__desc {
    grid-column: 3;
    justify-self: start;
  }

  .hero__desc--start {
    grid-row: 3;
  }

  .hero__desc--end {
    grid-row: 4;
  }

  .hero .txt--primary {
    font-size: 3rem;
  }

}
