@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,900&display=swap');
/* roboto 100, 300, 400, 500, 700, 900
pushster 400 */

:root {
  --nav-height: 5rem;
  --section-height: calc(100vh - var(--nav-height));
  --prim-c: #15023a;
  --txt-clr-default: #fff; 
  --acc-clr__primary: rgb(240, 201, 45);
  --acc-clr__secondary: rgb(245, 136, 40);
  --bg-clr-universal: rgb(69, 69, 91);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-clr-universal);
  color: var(--txt-clr-default);
  min-height: 100%;
  line-height: 1.6;
}

/* #root > *:not(:first-child):not(:last-child) {
  height: var(--section-height);
} */

a {
  display: block;
  color: var(--txt-clr-default);
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* recurring classes */
.container {
  width: 85%;
  margin: auto;
}

.spacer > * + * {
  margin-top: var(--margin-top, 2rem);
}

.split {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-size, 2em);
}

.split > * {
  flex-basis: var(--max-width, 30%);
  min-width: var(--min-width, 20em);
  /* flex-grow: 1; */
}

.txt--primary {
  font-size: 3em;
  line-height: 1.1;
  text-transform: uppercase;
}

.txt--body {
  font-size: 1.2rem;
}

.txt--title {
  font-size: 2.5em;
  text-align: center;
}

.small {
  font-size: 1.75rem;
}

@media screen and (max-width: 400px) {
  .txt--primary {
    font-size: 2.5em;
  }
  .txt--title {
    font-size: 2em;
  }
}